<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kreuzberg Integers</title>
    <link rel="stylesheet" href="/main.css">
    <script type="text/javascript" src="//use.typekit.net/psi3rds.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div class="container">
      <h1>Kreuzberg Integers</h1>
      <h1 vocab="http://artisanalintegers.com/schema.rdf" typeof="Integer" property="value"><%= object.id %></h1>
      <p>Minted <%= object.created_at.strftime("%d %B %Y") %></p>
    </div>
  </body>
</html>
