<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kreuzberg Integers</title>
  </head>
  <body>
    <h1>Kreuzberg Integers</h1>
    <h1><%= object.id %></h1>
    <p>Minted <%= object.created_at %></p>
  </body>
</html>
